* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column; 
    height: 100vh;
}

img {
    width: 800px;
    box-shadow: 0px 10px 80px 10px rgba(0, 128, 0, 0.389);
}


.secao1 {
    display: flex;
    margin: 100px;
    align-items: center;
    justify-content: center;
}

.secao1 img {
    width: 900px;
}

.secao3 , .secao5 {
    margin: 100px;
    
}

.secao2, .secao4 {
    display: flex;
    
    margin: 100px;
    justify-content: flex-end;
}

.btn input {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 20px;
    background-color: rgb(0, 224, 0);
    box-shadow: 0px 10px 80px 20px rgba(239, 244, 239, 0.389);
}
.btn {
    margin: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    
}
section h3 {
    margin-top: 80px;
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    align-items: center;
    font-family: Helvetica;
}

@media (max-width: 800px) {

    body {
        max-width: 100vw;
    }


    .secao1, .secao2,.secao4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
        align-items: center;
    }

    .secao3, .secao5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }


    img {
        width: 375px;
    }

    .secao1 img {
        max-width: 375px;
        margin-left: 0px;
    }

    .maisinfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
        }
}